[submodule "Radio/Vendor/AudioStreamer"]
	path = Radio/Vendor/AudioStreamer
	url = https://github.com/DigitalDJ/AudioStreamer.git
[submodule "Radio/Vendor/AFNetworking"]
	path = Radio/Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
